<header>
    <h1>MCC</h1>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
<tr class="cart-item-row cart-item-b1747e19f04c8a26885581d88ef0c04f cart_item">
    <th class="cfw-cart-item-description">
    <div class="cfw-cart-item-title">Gold Package</div>
    <div class="cfw-items-summary-item-discount"></div><div class="cfw-cart-item-data">Mail: a@mastercertified.coach</div>					
    </th>
    <td class="cfw-cart-item-quantity visually-hidden">1</td>
    <td class="cfw-cart-item-subtotal">
        <span class="subscription-price">
            <span class="woocommerce-Price-amount amount">
                <bdi><span class="woocommerce-Price-currencySymbol">$</span>131.88</bdi>
            </span>
            <span class="subscription-details"> / year</span>
        </span>
    </td>
</tr>
