<app-header></app-header>
<div class="">
    <div class="main">
        <h1>Old {{title}}</h1>
        <h1>hell {{title}}</h1>
        <tr class="cart-item-row cart-item-b1747e19f04c8a26885581d88ef0c04f cart_item">
            <th class="cfw-cart-item-description">
            <div class="cfw-cart-item-title">Gold Package</div>
            <div class="cfw-items-summary-item-discount"></div><div class="cfw-cart-item-data">Mail: a@mastercertified.coach</div>					
            </th>
            <td class="cfw-cart-item-quantity visually-hidden">1</td>
            <td class="cfw-cart-item-subtotal">
                <span class="subscription-price">
                    <span class="woocommerce-Price-amount amount">
                        <bdi><span class="woocommerce-Price-currencySymbol">$</span>131.88</bdi>
                    </span>
                    <span class="subscription-details"> / year</span>
                </span>
            </td>
        </tr>
    </div>
</div>
<app-footer></app-footer>